body {
    color: #212529;
    font-family: 'Roboto', sans-serif;
}

.header {
    background-color: #28a745;
    margin-bottom: 1rem;
}

.navbar-brand {
    margin-left: 1rem;
}

.logo_white {
    height: 1.56rem;
}

.logo_black {
    height: 1.5rem;
}

.card-text {
    font-size: 1.25rem;
    font-weight: 300;
}

.card_item {
    color: #707070;
    font-weight: 300;
    font-size: 1rem;
    padding-bottom: 0%;
    margin-bottom: 0%;
}

.card_adress {
    color: #707070;
    font-weight: 300;
    font-size: 0.81rem;
}

.price_full {
    color: #707070;
    font-size: 1rem;
    margin-right: 0.5rem
}

.price_discount {
    color: #28a745;
    font-size: 1.25rem;
}

.price {
    float:right;
    margin-bottom: 0.3rem;
}

.form_title {
    background-color: #28a745;
    color: white;
    font-size: 1.3rem;
    font-weight: 500;
    margin-top: 2rem;
    padding: 2.5rem;
}

.btn_custom {
    padding-left: 2rem;
    padding-right: 2rem;
    margin: 0%;
    text-align: center;
}

.card {
    margin-bottom: 1rem;
}

.form_margin {
    margin-bottom: 1rem;
}

.footer {
    color: #707070;
    font-weight: 300;
    padding: 2rem;
    text-align: center;
}